<% include partials/header %>
<div class="container">
    <div class="row">
        <% campgrounds.forEach(function(campground){ %>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 polaroid">
            <div class="thumbnail"><img src="<%=campground.image%>">
                <div class="caption">
                    <h4><%=campground.name%></h4>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>
<br>
<br>
<br>
<% include partials/footer %>